@import '../../styles/theme.scss';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color ease-in-out .2s;

  @include themify() {
    background-color: themed('body-background');
  }

  .layout-outlet {
    height: 100%;
    padding: 20px;
    overflow: hidden;
  }
}