@import 'src/styles/theme.scss';

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  transition: background-color ease-in-out .2s;

  @include themify() {
    background-color: themed('body-background');
  }
}