@import 'src/styles/theme.scss';

.post-preview {
  margin-bottom: 10px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;

  h3 {
    color: #202020;
  }

  p {
    display: -webkit-box;
    margin-top: 5px !important;
    color: #DFDFDF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .avatar {
      width: 50px;
      height: 50px;
      margin-right: 15px;
      border-radius: 25px;
      background-color: green;
    }

    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      row-gap: 2px;
    }

    .options {
      align-self: start;
      justify-content: end;

      button {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .post {
    margin-bottom: 10px;

    a {
      text-decoration: none;
    }

    p {
      color: #606060;
    }
  }

  .stats {
    a {
      text-decoration: none;
    }

    p {
      color: #A0A0A0;
    }
  }
}