@import 'src/styles/theme.scss';

.sidebar > a {
  text-decoration: none;

  .tab {
    height: 60px;
    display: flex;
    cursor: pointer;
    
    &[active='1'] {
      background-color: #eaeaea;

      .content {
        margin-left: -5px;
        color: green;

        .icon > svg {
          color: green;
        }
      }

      &::before {
        content: '';
        width: 5px;
        height: 100%;
        background-color: green;
      }
    }

    .content {
      padding: 15px 0 15px 30px;
      display: flex;
      align-items: center;
      font-weight: bold;
      color: #202020;

      .icon {
        display: flex;

        svg {
         width: 25px;
         height: 25px;
         margin-right: 15px;
         color: #333333;
       }
      }
    }
  }
}