.post-page {
  .post {
    margin-bottom: 10px;
    padding: 20px;

    @include themify() {
      color: themed('on-surface-variant');
      background-color: themed('surface');
    }
  
    h3, h4 {
      @include themify() {
        color: themed('on-surface');
      }
    }
  
    p {
      margin-top: 5px !important;
      white-space: pre-line;
    }
  
    .header {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      .avatar {
        width: 50px;
        height: 50px;
        margin-right: 15px;
      }
  
      .info {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 2px;
      }
  
      .options {
        align-self: start;
        justify-content: end;
  
        button {
          width: 20px;
          height: 20px;
          background-color: transparent;
          padding: 0;
          border: 0;
          outline: none;
          cursor: pointer;
  
          svg {
            width: 100%;
            height: 100%;

            @include themify() {
              color: themed('on-surface');
            }
          }
        }
      }
    }
  
    .post-content {
      margin-bottom: 10px;
  
      a {
        text-decoration: none;
      }
  
      p {
        @include themify() {
          color: themed('outline');
        }
      }
    }
  
    .stats {
      a {
        text-decoration: none;
      }
  
      p {
        @include themify() {
          color: themed('on-surface-variant');
        }
      }
    }
  }
}