@use 'src/styles/_theme.scss' as *;

.main-layout {
  height: 100%;
  padding: 20px 55px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 3fr 1fr;
  overflow: hidden;

  &* {
    width: 100%;
  }

  .home-left {
    padding: 0 20px;
    transition: background-color ease-in-out .2s;

    .user-badge {
      margin-bottom: 20px;
      padding: 15px;
      display: flex;
      flex-direction: row;

      @include themify() {
        background-color: #ffffff;
      }

      .avatar {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 25px;
        background-color: green;
      }

      .names {
        display: flex;
        flex-direction: column;
        align-self: center;

        .display-name {
          font-weight: bold;
        }

        .username {
          color: #777777;

          &::before {
            content: '@';
          }
        }
      }
    }

    .create-post {
      width: 100%;
      padding: 15px;
      color: white;
      background-color: green;
      border: 0;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  main {
    padding: 0px 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #dfdfdf;
      border-radius: 5px;
    }
  
    &::-webkit-scrollbar-thumb:hover {
      background-color: #cfcfcf;
    }
  }

  .home-right {
    padding: 0 20px;

    .users-list {
      padding: 15px;
      background-color: #ffffff;

      .title {
        font-weight: bold;
        color: #202020;
      }
    }
  }
}