@use 'sass:color';

.main-layout {
  height: 100%;
  padding: 20px 55px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 3fr 1fr;
  overflow: hidden;

  &* {
    width: 100%;
  }

  .home-left {
    padding: 0 20px;
    transition: background-color ease-in-out .2s;

    .user-badge {
      margin-bottom: 20px;
      padding: 15px;
      display: flex;
      flex-direction: row;

      @include themify() {
        background-color: themed('surface');
      }

      .avatar {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 25px;
      }

      .names {
        display: flex;
        flex-direction: column;
        align-self: center;

        .display-name {
          font-weight: bold;

          @include themify() {
            color: themed('on-background');
          }
        }

        .username {
          @include themify() {
            color: themed('on-surface-variant');
          }

          &::before {
            content: '@';
          }
        }
      }
    }

    .create-post {
      width: 100%;
      padding: 15px;
    }
  }

  main {
    padding: 0px 20px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;

      @include themify() {
        background-color: themed('surface-variant');
      }
    }
  
    &::-webkit-scrollbar-thumb:hover {
      @include themify() {
        background-color: color.scale(themed('surface-variant'), $lightness: -10%);
      }
    }
  }

  .home-right {
    padding: 0 20px;

    .users-list {
      padding: 15px;

      @include themify() {
        background-color: themed('surface');
      }

      .title {
        font-weight: bold;
        
        @include themify() {
          color: themed('on-background');
        }
      }
    }
  }
}