.profile {
  margin-bottom: 20px;
  padding: 20px;
  display: flex;

  @include themify() {
    color: themed('on-surface-variant');
    background-color: themed('surface');
  }

  .avatar {
    width: 150px;
    height: 150px;
    margin-right: 20px;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 10px;

    .header {
      margin-bottom: 15px;

      h3 {
        font-weight: normal;
      }
    }

    p {
      align-self: end;
    }
  }
}