.header {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .avatar {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
  }

  .options {
    align-self: start;
    justify-content: end;

    .open-options {
      width: 20px;
      height: 20px;
      background-color: transparent;
      padding: 0;
      border: 0;
      outline: none;
      cursor: pointer;

      svg {
        width: 100%;
        height: 100%;

        @include themify() {
          color: themed('on-surface');
        }
      }
    }

    .menu {
      width: 150px;
      position: relative;
      margin-left: -130px;
      list-style-type: none; 

      & button {
        width: 100%;
      }
    }
  }
}