.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @include themify() {
    background-color: themed('background');
  }

  .login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include themify() {
      background-color: themed('surface');
    }

    .column {
      &.col-left {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include themify() {
          color: themed('on-primary-container');
          background-color: themed('primary-container');    
        }    
      }

      &.col-right {
        padding: 50px 70px;
        text-align: center;

        h2 {
          margin-bottom: 10px;
          font-size: xx-large;

          @include themify() {
            color: themed('on-background');
          }
        }

        .login-description {
          margin-bottom: 30px;
          font-size: medium;
          white-space: pre-line;

          @include themify() {
            color: themed('on-surface');
          }
        }

        form {
          margin-bottom: 20px;

          .form-block {
            margin-bottom: 10px;
            
            &:last-of-type {
              margin-bottom: 20px;
            }
          }
        }

        .sign-up {
          font-size: small;

          @include themify() {
            color: themed('on-surface');
          }

          a {
            text-decoration: none;
            font-weight: bold;

            @include themify() {
              color: themed('primary');
            }
          }
        }
      }
    }
  }
}