@import 'src/styles/theme.scss';

.appbar {
  padding: 15px 40px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr 1fr;
  transition: background-color ease-in-out .2s;

  @include themify() {
    background-color: #ffffff;
  }

  .appbar-brand {
    align-self: center;

    a {
      font-size: x-large;
      font-weight: bold;
      text-decoration: none;
      user-select: none;

      @include themify() {
        color: #202020;
      }
    }
  }

  .appbar-search {
    display: flex;
    background-color: #efefef;

    .search-icon {
      width: 20px;
      height: 20px;
      margin: 10px 20px;

      @include themify() {
        color: #202020;
      }
    }
    
    input {
      width: 100%;
      border: 0;
      outline: none;
      background-color: transparent;
    }
  }

  .appbar-options {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-items: center;

    .login-button {
      padding: 10px 30px;
      color: white;
      background-color: green;
      border: 0;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }

    .avatar {
      width: 35px;
      height: 35px;
      margin-left: 30px;
      border-radius: 20px;
      background-color: green;
    }
  }
}