.header {
  padding: 15px 40px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr 1fr 1fr;
  transition: background-color ease-in-out .2s;

  @include themify() {
    background-color: themed('surface');
  }

  .header-brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    column-gap: 10px;

    a {
      font-size: x-large;
      font-weight: bold;
      text-decoration: none;
      user-select: none;

      @include themify() {
        color: themed('on-surface');
      }
    }
  }

  .header-search {
    display: flex;

    @include themify() {
      background-color: themed('background');
    }

    .search-icon {
      width: 20px;
      height: 20px;
      margin: 10px 20px;

      @include themify() {
        color: themed('on-background');
      }
    }
  }

  .header-options {
    display: flex;
    flex-direction: row;
    justify-self: end;
    align-items: center;
    column-gap: 10px;

    .avatar {
      width: 35px;
      height: 35px;
      margin-left: 20px;
      border-radius: 20px;
    }
  }
}