.dark-mode-toggle {
  display: flex;
  border: 0;
  padding: 0;
  background-color: transparent !important;
  cursor: pointer;

  svg {
    width: 25px;
    height: 25px;

    @include themify() {
      color: themed('on-surface');
    }
  }
}