@import 'src/styles/theme.scss';

input {
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  border: 0;
  outline: none;

  &.error {
    background-color: #ffaaaa;
  }

  &[type='submit'] {
    color: #efefef;
    background-color: green;
    font-weight: bold;
    cursor: pointer;

    &[disabled] {
      background-color: #A0A0A0;
      cursor: not-allowed; 
    }
  }
}