@import 'src/styles/theme.scss';

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #efefef;

  .login-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff;

    .column {

      &.col-left {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        
        h1 {
          color: #efefef;
        }
      }

      &.col-right {
        padding: 50px 70px;
        text-align: center;

        h2 {
          margin-bottom: 10px;
          font-size: xx-large;
        }

        .login-description {
          margin-bottom: 30px;
          color: #505050;
          font-size: medium;
          white-space: pre-line;
        }

        form {
          margin-bottom: 20px;

          .form-block {
            margin-bottom: 10px;
            
            &:last-of-type {
              margin-bottom: 20px;
            }
          }

          .error-message {
            color: red;
            font-size: small;
            text-align: left;
          }
        }

        .sign-up {
          color: #404040;
          font-size: small;

          a {
            color: green;
            text-decoration: none;
            font-weight: bold;
          }
        }
      }
    }
  }
}