@import 'src/styles/theme.scss';

.home {
  .quick-post {
    padding: 10px 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    background-color: #ffffff;

    .avatar {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      border-radius: 15px;
      background-color: green;
    }

    input {
      flex-grow: 1;
      margin-right: 15px;
      border: 0;
      outline: none;
    }

    .submit {
      padding: 10px 30px;
      color: white;
      background-color: green;
      border: 0;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
    }
  }

  .feed {

  }
}