:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 0;
  outline: none;
  font-family: inherit;
  resize: none;

  @include themify() {
    color: themed('on-background');
    background-color: themed('background');
  }

  &:global(.error) {
    @include themify() {
      color: themed('on-error');
      background-color: themed('error');
    }
  }
}

select {
  appearance: none;
  padding: 10px 30px 10px 10px;
  border: 0;
  outline: none;

  @include themify() {
    color: themed('on-background');
    background-color: themed('background');
  }
}

:global(.error-message) {
  font-size: small;

  @include themify() {
    color: themed('on-error-container');
    background-color: themed('error-container');
  }
}

:global(.on-background) {
  @include themify() {
    color: themed('on-background');
  }
}

button {
  padding: 10px 30px;
  border: 0;
  font-weight: bold;
  text-align: center;
  cursor: pointer;

  @include themify() {
    color: themed('on-primary-container');
    background-color: themed('primary-container');
  }
}

input {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: none;
  font-family: inherit;
  font-size: 14px;

  @include themify() {
    color: themed('on-background');
    background-color: themed('background');
  }

  &:global(.error) {
    @include themify() {
      color: themed('on-error');
      background-color: themed('error');
    }
  }

  &[type='submit'] {
    padding: 10px 30px;
    border: 0;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  
    @include themify() {
      color: themed('on-primary-container');
      background-color: themed('primary-container');
    }

    &[disabled] {
      cursor: not-allowed;

      @include themify() {
        color: themed('on-surface-variant');
        background-color: themed('surface-variant');
      }
    }
  }

  &[type='color'] {
    width: 50px;
    padding: 2px;
  }
}