.post-page {
  .post {
    margin-bottom: 10px;
    padding: 20px;

    @include themify() {
      color: themed('on-surface-variant');
      background-color: themed('surface');
    }
  
    h3, h4 {
      @include themify() {
        color: themed('on-surface');
      }
    }
  
    p {
      margin-top: 5px !important;
      white-space: pre-line;
    }
  
    .post-content {
      margin-bottom: 10px;
  
      a {
        text-decoration: none;
      }
  
      p {
        @include themify() {
          color: themed('on-background');
        }
      }
    }
  
    .stats {
      a {
        text-decoration: none;
      }
  
      p {
        @include themify() {
          color: themed('outline');
        }
      }
    }
  }
}